<p>
  <mat-toolbar color="primary">
    <span>App Chek DenysL</span>
    <span class="example-spacer"></span>
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="accent" (click)="onLogout()">
          Logout
        </button>
      </div>
    </section>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="icon-button with logout icon"
      (click)="onLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>Histories de intentos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Nombre:</strong> {{ user()?.username }}</p>
    <p><strong>Email:</strong> {{ user()?.email }}</p>
  </mat-card-content>
</mat-card>
<router-outlet />
